DATABASE_URL="file:./prisma/dev.db"
DATABASE_PROVIDER="sqlite"
AUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
ALLOWED_EMAILS="user@example.com,user2@example.com"
SEED_USER_1_NAME=""
SEED_USER_1_EMAIL=""
SEED_USER_1_PASSWORD=""
